<div>
    <div class="overview">

        <div class="overview-card">
            <div class="overview-card-title">
                <h4>Properties</h4>
            </div>
            <div class="overview-card-content">
                <h1>{{this.overview.properties}}</h1>
            </div>
        </div>
        <div class="overview-card">
            <div class="overview-card-title">
                <h4>Tenants</h4>
            </div>
            <div class="overview-card-content">
                <h1>{{this.overview.tenants}}</h1>
            </div>
        </div>
        <div class="overview-card">
            <div class="overview-card-title">
                <h4>Expect Revenue This Month</h4>
            </div>
            <div class="overview-card-content">
                <h1>${{this.overview.revenue}}</h1>
            </div>
        </div>
        <div class="overview-card">
            <div class="overview-card-title">
                <h4>Expeceted Expenses This Month</h4>
            </div>
            <div class="overview-card-content">
                <h1>${{this.overview.expense}}</h1>
            </div>
        </div>
        
       
    </div>
    <div class="overview-chart">
        <canvas id="MyChart">{{chart}} </canvas>

    </div>
 

</div>