<div>
    <div class="overview">

        <div class="overview-card"  *ngFor="let overview of overview_card" [ngClass]="[overview.class]">
            <div class="overview-card-title">
                <h4>{{overview.label}}</h4>
            </div>
            <div class="overview-card-content">
                <h1>{{overview.content}}</h1>
            </div>
        </div>
    </div>
    <div class="overview-chart">
        <canvas id="MyChart">{{chart}} </canvas>
        <button class="btn btn-primary">
            asd
        </button>
    </div>
 

</div>