@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');

body {
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
}

.top-pane {
  background-color: #16425B;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  margin-right: auto;
}

.logo img {
  height: 45px;
}

.nav-buttons {
  margin-right: 20px;
}

.nav-buttons button {
  background-color: transparent;
  color: #D9DCD6;
  border: 2px solid #D9DCD6;
  border-radius: 25px;
  padding: 8px 16px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.nav-buttons button:hover {
  background-color: #D9DCD6;
  color: #16425B;
}

.auth-buttons {
  display: flex;
  align-items: center;
}

.auth-buttons button {
  background-color: transparent;
  color: #D9DCD6;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  position: relative;
}

.auth-buttons button::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #D9DCD6;
  transform: scaleX(0);
  transition: transform 0.3s ease-out;
}

.auth-buttons button:hover::after {
  transform: scaleX(1);
}

.auth-buttons span {
  color: #D9DCD6;
  margin: 0 5px;
}

.features-content {
    background-color: #D9DCD6;
    min-height: calc(100vh - 70px - 450px);
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features-content h1 {
    font-weight: 800;
    font-family: 'Poppins', sans-serif; 
    font-size: 2.5rem; 
    color: #16425B; 
    text-align: center; 
    margin-top: 0px; 
    margin-bottom: 0px;
}

.features-subtitle {
    font-weight: normal;
    font-family: 'Poppins', sans-serif; 
    color: #16425B;
    text-align: center; 
    margin-bottom: 40px;
    margin-top: 0px;
}

.features-tiles {
    display: grid; 
    grid-template-columns: repeat(3, minmax(200px, auto)); 
    gap: 30px; 
}

.feature-tile {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding: 30px; 
    border-radius: 12px; 
    text-align: center; 
    max-width: 250px; 
}

.tile-title, .tile-description {
   text-align: center; 
   font-family: 'Poppins', sans-serif; 
   margin-bottom: 0px; 
   margin-top: 0px; 
}

.tile-icon {
   width: 60px; 
   height: 60px; 
   margin-bottom: 10px; 
}

.feature-tile p {
   margin-top: 10px; 
   font-size: .85rem;
   font-weight: 300;
}

.footer {
    background-color: #16425B;
    font-family: 'Poppins', sans-serif; 
    color: #D9DCD6; 
    padding: 20px; 
}

.footer-content {
   display: flex; 
   justify-content: space-between; 
   max-width: 1500px; 
   margin: 0 auto; 
}

.footer-logo {
   height: 250px;    
}

.footer-logo img {
   height: 300px; 
   margin-right: 100px; 
}

.footer-links {
   display: flex; 
   justify-content: space-between; 
   flex-grow: 1; 
   margin-top: 40px; 
   height: 180px; 
}

.footer-section {
   margin: 0; 
   flex: 1; 
   height: 180px; 
}

.footer-section h3 {
   font-size: 1.2rem;  
   font-weight: 700;  
   color: #D9DCD6;  
   margin-bottom: 15px;  
   text-align: left;  
}

.footer-section ul {
   list-style-type: none;  
   padding: 0;  
   margin: 0;  
}

.footer-section ul li,
.footer-section p {
   font-weight: 400;  
   font-size: .9rem;  
   color: #D9DCD6;  
   margin-bottom: 10px;  
   line-height: 1.5;  
   text-align: left;  
}

.footer-section a {
   color: #D9DCD6;  
   text-decoration: none;  
}

.footer-section a:hover {
   text-decoration: underline;  
}

.social-icons {
   display: flex;  
}

.social-icon {
   width: 30px;  
   height: 30px;  
   margin-right: 10px;  
   background-size: contain;  
   background-repeat: no-repeat;
}

.facebook { background-image: url('/assets/facebook-icon.png'); }
.instagram { background-image: url('/assets/instagram-icon.png'); }
.twitter { background-image: url('/assets/twitter-icon.png'); }

.footer-bottom {
   max-width: 1200px;
   margin: 10px auto;
   text-align: center;
}

.footer-bottom hr {
   border: none;
   border-top: 1px solid #D9DCD6;
   margin: 0 auto;
   width: 100%;
}

.footer-bottom p {
     font-size: .9rem;
     text-align: center;
     margin: 0 auto;
     color: #D9DCD6;
     width: 100%;
}