<div class="top-pane">
    <div class="logo">
        <img src="assets/Nav_Bar_Banner.png" alt="Stayworks Logo">
    </div>
    <div class="nav-buttons">
        <button routerLink="/">Home</button>
        <button routerLink="/pricing">Pricing</button>
        <button routerLink="/about">About Us</button>
        <button routerLink="/contact">Contact Us</button>
    </div>
    <div class="auth-buttons">
        <button class="login" routerLink="/login">Login</button>
        <span>|</span>
        <button class="signup" routerLink="/signup">Sign Up</button>
    </div>
</div>

<div class="features-content">
    <h1>Features</h1>
    <p class="features-subtitle">Discover innovative solutions tailored to enhance <br> your property management efficiency!</p>
    <div class="features-tiles">
        <div class="feature-tile" style="background-color: #81c3d7;">
            <img src="assets/document.png" alt="Document Storage Icon" class="tile-icon">
            <h2 class="tile-title" style="color: #16425B;">Document Storage</h2>
            <p class="tile-description" style="color: #16425B;">Keep all your important documents organized and accessible in one place.
            Perfect for landlords to manage leases and tenant information efficiently.</p>
        </div>
        <div class="feature-tile" style="background-color: #3A7CA5;">
            <img src="assets/tenantMan.png" alt="Tenant Management Icon" class="tile-icon">
            <h2 class="tile-title" style="color: #D9DCD6; font-size: 1.40rem;">Tenant Management</h2> 
            <p class="tile-description" style="color: #D9DCD6;">Easily manage your tenants with streamlined communication and tracking. Stay organized and ensure timely payments with our efficient management tools.</p>
        </div>
        <div class="feature-tile" style="background-color: #16425B;">
            <img src="assets/propertyMan.png" alt="Property Management Icon" class="tile-icon">
            <h2 class="tile-title" style="color: #D9DCD6; font-size: 1.33rem;">Listing Management</h2>
            <p class="tile-description" style="color: #D9DCD6;">Create a dedicated profile for each property, allowing landlords to add essential details, manage listings, and keep track of property information efficiently.</p>
        </div>
        <div class="feature-tile" style="background-color: #16425B; margin-top: 10px;">
            <img src="assets/repairMain.png" alt="Maintenance & Repairs Icon" class="tile-icon">
            <h2 class="tile-title" style="color: #D9DCD6; font-size: 1.3rem;">Maintenance & Repairs</h2>
            <p class="tile-description" style="color: #D9DCD6;">Stay on top of repairs & maintenance through our platform and reach out to contractors, ensuring your properties remain in excellent condition.</p>
        </div>
        <div class="feature-tile" style="background-color: #3A7CA5; margin-top: 10px;">
            <img src="assets/income.png" alt="Income & Expense Analytics Icon" class="tile-icon">
            <h2 class="tile-title" style="color: #D9DCD6; font-size: 1.3rem;">Income Analytics</h2>
            <p class="tile-description" style="color: #D9DCD6;">Our platform tracks your income and expenses, providing valuable data to help you make informed financial decisions for your properties.</p>
        </div>
        <div class="feature-tile" style="background-color: #81c3d7; margin-top: 10px;">
            <img src="assets/calendar.png" alt="Rent Reminders Icon" class="tile-icon">
            <h2 class="tile-title" style="color: #16425B; font-size: 1.3rem;">Rent Reminders</h2>
            <p class="tile-description" style="color: #16425B;">Set reminders for rent payments, bill dates, or notify tenants near due dates, ensuring timely transactions for everyone involved.</p>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="footer-content">
        <div class="footer-logo">
            <img src="assets/footer-logo.png" alt="Stayworks Logo">
        </div>
        <div class="footer-links">
            <div class="footer-section">
                <h3>Learn More</h3>
                <ul>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/terms" target="_blank">Terms & Conditions</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Quick Links</h3>
                <ul>
                    <li><a routerLink="/">Home</a></li>
                    <li><a href="/signup">Sign Up</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/pricing">Pricing</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Contact Us</h3>
                <p>Support Line: +1 800-456-7890</p>
                <p>Email Support: stayworks&#64;support.ca</p>
            </div>
            <div id="social-media" class="footer-section">
                <h3>Social Media</h3>
                <div class="social-icons">
                    <a href="#" class="social-icon facebook"></a>
                    <a href="#" class="social-icon instagram"></a>
                    <a href="#" class="social-icon twitter"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <hr />
        <p>&copy; 2024 Stayworks | All Rights Reserved</p>
    </div>
</footer>
