<div class="property-documents-main-container">
  <div class="property-container">
    <table class="property-table">
      <tr>
        <th>Address</th>
        <th>City</th>
        <th>Province</th>
        <th>Country</th>
        <th>Postal Code</th>
        <th>Occupied Status</th>
      </tr>
        <tr *ngFor="let propertyDetails of propertyDetails">
          <td>{{ propertyDetails.address }}</td>
          <td>{{ propertyDetails.City }}</td>
          <td>{{ propertyDetails.Province }}</td>
          <td>{{ propertyDetails.Country }}</td>
          <td *ngIf="propertyDetails.PostalCode == null || propertyDetails.PostalCode == ''">N/A</td> <td *ngIf="propertyDetails.PostalCode != null ">{{ propertyDetails.PostalCode }}</td>
          <!-- <td class="info_icon">
          <img src="assets/information_icon.svg" alt="information icon" />
        </td> -->
        </tr>
    </table>

    <div *ngIf="!loading && showPropertyDocuments">
      <table
        class="property-documents-table"
        *ngIf="propertyDocuments && propertyDocuments.length > 0"
      >
        <tr>
          <th>Document ID</th>
          <th>Document Name</th>
          <th>Date Uploaded</th>
          <th>Document Type</th>
          <th>File Download</th>
        </tr>
        <tr *ngFor="let document of propertyDocuments">
          <td>{{ document.docId }}</td>
          <td>{{ document.fileName }}</td>
          <td>{{ document.CreatedAt | date : "medium" }}</td>
          <td>{{ document.docType }}</td>
          <td class="file_icon">
            <a
              href=""
              onclick="return false;"
              (click)="onClickRetrieve(document.docId)"
            >
              <img
                src="assets/file-image-icon.png"
                alt="file icon"
                style="filter: invert(100%)"
                width="30"
                fetchpriority="high"
              />
            </a>
          </td>
        </tr>
      </table>
    </div>
    <button
      class="show-hide-button-wrapper"
      type="button"
      (click)="ToggleShowPropertyDocumentsTable()"
    >
      <div class="show-hide-documents">
        <div class="show-documents" *ngIf="!showPropertyDocuments">
          <p>Show Documents</p>
          <img
            src="assets/chevron-down.svg"
            height="30"
            alt="down chevron"
            fetchpriority="high"
          />
        </div>
        <div class="hide-documents" *ngIf="showPropertyDocuments">
          <img
            src="assets/chevron-up.svg"
            height="30"
            alt="up chevron"
            fetchpriority="high"
          />
          <p>Hide Documents</p>
        </div>
      </div>
    </button>
  </div>

  <div class="tenant-list-documents">
    <div class="tentant-documents-container">
      <table class="tenant-documents-table">
        <tr>
          <th><input type="checkbox" name="selectAll" /></th>
          <th>Name</th>
          <th>Email Address</th>
          <th>Phone Number</th>
          <th>Tenant status</th>
        </tr>
        <tr *ngFor="let user of users">
          <td><input type="checkbox" name="user-checkbox" /></td>
          <td>{{ user.name }}</td>
          <td>{{ user.email_address }}</td>
          <td>{{ user.phone_number }}</td>
          <td>{{ user.tenant_status }}</td>
        </tr>
      </table>
    </div>
  </div>

  <!-- 

  <div class="add-documents">
    <button type="button" class="add-documents-button">+ Add Documents</button>
  </div> -->
</div>
