<div class="documents-container">
  <div class="documents-filter">
    <div class="filter-title">
      <p>Filter</p>
    </div>
    <div class="documents-filter-options">
      <div class="fiter-tenant-search"></div>
      <div class="filter-address-search"></div>

      <div class="filter-address-options">
        <div class="filter-address-province">
          <label for="filter-province">Province: </label>
          <select
            name="province"
            id="filter-province"
            [(ngModel)]="selectedProvince"
            (change)="onProvinceChange($event)"
          >
            <option *ngFor="let province of provinces" [value]="province">
              {{ province }}
            </option>
          </select>
        </div>
        <div class="filter-address-country">
          <input
            type="radio"
            name="country"
            id="filter-country"
            checked
            disabled
          />
          <label for="filter-country">Canada</label>
        </div>
        <div class="filter-reset">
          <button (click)="onResetFilter()">Reset</button>
        </div>
      </div>
    </div>
  </div>

  <div class="documents-table-container">
    <table class="documents-table">
      <tr class="documents-header">
        <th></th>
        <!-- <th class="recently_used">Recently Used</th> -->
      </tr>
      <tr class="row_card" *ngFor="let prop of property">
        <div>
          <td>
            <div
              class="property_card"
              (click)="onPropertyClick(prop.propertyId)"
            >
              <div class="property_card_img">
                <img
                  src="assets/sample_house.webp"
                  alt="image icon"
                  height="100"
                  placeholder
                />
              </div>
              <div class="property_card_address">
                <div class="street_address">
                  <h6>Street Address</h6>
                  <p>{{ prop.address }}</p>
                </div>
                <div class="city">
                  <h6>City</h6>
                  <p>{{ prop.City }}</p>
                </div>
                <div class="province">
                  <h6>Province</h6>
                  <p>{{ prop.Province }}</p>
                </div>
                <div class="country">
                  <h6>Country</h6>
                  <p>{{ prop.Country }}</p>
                </div>
                <!-- <div class="tenantAmount">
                  <h6># of Tenants</h6>
                  <p>{{ prop.tenantAmount }}</p>
                </div> -->
              </div>

              <div class="property_card_documents">
                <p>{{ prop.documents }}</p>
                <div
                  style="
                    display: relative;
                    width: 20px;
                    height: auto;
                    padding-left: 10px;
                    margin-bottom: 10px;
                    top: 0;
                    bottom: 0;
                  "
                >
                  &#8594;
                </div>
              </div>
            </div>
          </td>
        </div>
        <!-- <td>
          <div class="property_recently_used_card">
            <div class="property_card_doc" (click)="onFileClick(prop.docId)" >
              <img src="assets/download-file.png" alt="image icon" width="30"  />
              <p>{{ prop.fileName }}</p>
            </div>
          </div>
        </td> -->
      </tr>
    </table>
  </div>
</div>
