<div class="property-container">
   <br />
   <form [formGroup]="propertyForm" (ngSubmit)="submitProperty()">
    <div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Address</label>
        <input
          type="email"
          class="form-control"
          id="address"
          formControlName="address"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">City</label>
        <input
          type="email"
          class="form-control"
          id="city"
          formControlName="city"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Province</label>
        <input
          type="email"
          class="form-control"
          id="province"
          formControlName="province"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Country</label>
        <input
          type="email"
          class="form-control"
          id="country"
          formControlName="country"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Postal Code</label>
        <input
          type="email"
          class="form-control"
          id="postalCode"
          formControlName="postalCode"
          aria-describedby="emailHelp"
        />
      </div>
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
  </form>

  <br />
  <br />

  <form [formGroup]="myForm" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="name">Name</label>
      <select
        class="form-select"
        aria-label="Default select example"
        id="fileType"
        formControlName="fileType"
      >
        <option value="Lease">Lease Document</option>
        <option value="Property">Property Document</option>
        <option value="Other">Other Document</option>
      </select>
    </div>

    <div class="form-group">
      <label for="file">File</label>
      <input
        formControlName="file"
        id="file"
        type="file"
        class="form-control"
        (change)="onFileChange($event)"
      />
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
  </form>

  <br />
  <br />
<!-- <button type="button" class="btn btn-primary" (click)="onClickRetrieve()" > Test Button Get File</button> --> -->

  <table class="table">
    <thead>

        <th scope="col">docId</th>
        <th scope="col">docType</th>
        <th scope="col">fileName</th>
        <th scope="col">Created At</th>
    </thead>
    <tbody *ngFor="let f of fileList">
        <tr >
            <td><a href="" onclick="return false;" (click)="onClickRetrieve(f.docId)">{{f.docId}}</a></td>
            <td>{{f.docType}}</td>
            <td>{{f.fileName}}</td>
            <td>{{f.CreatedAt}}</td>
        </tr>
    </tbody>
  </table>

  

</div>
