html,  body{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #e6e6e6;
}
.dashboard-title{
    display: flex;
    position: relative;
    align-items: center;
    padding-top: 0.5rem;
    padding-left: 2rem;
    justify-content: flex-start;
    height: 70px;
    margin-top: auto;
    margin-bottom: 10px;
}
.dashboard-title h3{
    margin: 0;
    padding: 0;
    font-family: 'Biko';
} 
.dashboard-title img{
    vertical-align: middle;
    object-fit: contain;
    margin-right: 15px;
}
.dashboard-title a {
    display: flex;
    color: black;
    text-decoration: none;
    align-items: center;
    justify-content: flex-start;
}
.navbar-account{
    display: relative;
    border: black solid 1px;
    justify-content: flex-end;
    float: right;
}
.dashboard-header{
    display: flex;
    position: relative;
    background-color: #ffffff;
    width: 99%; 
    height: 10vh;
    padding: 10px;
    margin-right: 100px;
    margin-left: 10px;
    border-radius: 0.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    align-items: center;
    justify-content: space-between;
    top: 0;
    z-index: 2;
}
.navbar-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: black 1px solid;
    padding-right: 10rem;
    padding-left: 5rem;
    margin-right: 50px;
    margin-left: 50px;
    z-index: 2;
}

.navbar-header a{
    width: 100px; 
    height: 50px;
    padding: 20px;
    margin: 0;
    padding: 0;
    color: black;
    text-decoration: inherit;
}

.navbar-header li{
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-header a:hover {
    background-color: #eaea84;
}   
.dashboard-sidebar{
    display: relative; 
    overflow: hidden; 
    top: 0; 
    left: 0;
    padding-left: 0.75rem;
    padding-right: 0.75rem; 
    padding-top: 10px;
    margin-left: 8px;
    margin-top: 10px; 
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    border-radius: 0.25rem; 
    border-top-width: 1px; 
    width: 270px;
    height: 87.75vh; 
    font-size: 0.875rem;
    line-height: 5rem; 
    background-color: #2F6690; 
    z-index: 1;
    border: #2F6690 1px solid;  
    
}
 .dashboard-sidebar button {
     width: 200px; 
     height: 50px;
     padding: 20px;
     border-radius: 25px;
    background-color: white;
    border: #fffffe 1px solid;  
    cursor:pointer ;
}

.dashboard-sidebar button:hover {
    background-color: #f4f2f2;
    text-decoration: black;
}

.navbar-search{
    display: flex;
    position: relative;
    align-items: center;
    border: black 1px solid;    
}
.navbar-search input[type="text"]{
    width: 200px;
    height: 50px;
    padding: 5px;
    border: black 1px solid;
    border-radius: 3px;
}

.dashboard-body {
    position: relative; 
    height: 87.75vh;
    margin-left: 300px;
    margin-right: 10px;
    bottom: 87.75vh; 
    padding: 30px;
    box-sizing: border-box;
    z-index: 1;
    color: white; 
    /* background-color: #16425B;  */
    border-radius: 0.25rem;
}