<div>
  <div class="dashboard-sidebar">
    <ul style="list-style-type: none">
      <li *ngFor="let button of sidebar_buttons">
        <a
          [routerLink]="button.routerLink"
          routerLinkActive="{{ button.routerLinkActive }}"
        >
          <p-button
            type="button"
            [label]="button.label"
            [icon]="button.icon"
          ></p-button>
        </a>
      </li>
    </ul>
  </div>

  <body class="dashboard-body">
    <router-outlet>
    </router-outlet>
  </body>
</div>
