<div>
  <div>
    <div class="dashboard-header">
      <div class="dashboard-title">
        <img id="stayworks_logo" src= "stayworks_logo.png" alt="stayworks_logo" height="100" width="50" style=""/>
        <h3>Stayworks</h3>
      </div>
      <div class="navbar-header">
        <ul>
          <li><a routerLink="/dashboard/overview">Overview</a></li>
        </ul>
        <div class="navbar-notification"></div>
        <div class="navbar-account">
          <ul>
            <li><a routerLink="/dashboard/profile">Profile</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="dashboard-sidebar">
      <ul style="list-style-type: none">
        <li *ngFor="let button of sidebar_buttons">
          <a
            [routerLink]="button.routerLink"
            routerLinkActive="{{ button.routerLinkActive }}"
          > 
            <button type="button">
              <i *ngIf="button.icon" class="button.icon"> </i>
              {{ button.label }}
            </button>
          </a>
        </li>
      </ul>
    </div>

    <body>
      <div class="dashboard-body">
        <h1>this is where the stuff goes</h1>
      </div>
    </body>
  </div>
</div>
