<div class="documents-container">
  <h2>Documents</h2>

  <table class="documents-table">
    <tr>
      <th>Propeties</th>
        <th>Recently Used</th>
      </tr>
      <tr>
      <td>
        <div class="property_card">
          <div class="property_card_img">
            <img src="image_icon.png" alt="image icon" height="40" width="40">
          </div>
          <div class="property_card_address">
              <p>Address of property</p>
          </div>
          <div class="property_card_documents">
            <p># of documents</p>
          </div>
        </div>
      </td>
      <td>
        <div class="property_recently_used_card">
            <div class="property_card_doc">
              <p>docs are in here</p>
            </div>
        </div>
      </td>
    <tr>
      <tr>
        <td>Property 2</td>
        <td>Doc 2</td>
      <tr>
        <tr>
          <td>Property 3</td>
          <td>Doc 3</td>
        <tr>

    </table>
</div>